* , *::before , *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.img_wrap {
    text-align: center;
}

img {
	width: 100%;
}

.img_wrap img {
    max-width: 700px;
}

img.logo {
    width: 100px;
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 100;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background-color: rgba(105,105,105,.9);
    background-image: url(img/1564792.png);
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
  }

  @keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

  nav.globalMenuSp.active {
      animation: slide .5s forwards;
  }

  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 5% 0;
    font-size: 50px;
    font-family: 'Tangerine', cursive;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  
  }

.bg-slider {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h2 {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: #8a7d58;
    margin: 3%;
}

h5 {
    text-align: center;
    padding: 3% 0;
    font-size: 14px;
}

.contents {
    padding: 5% 0;
}

ul.horizontal_scroll {
    display: flex;
    overflow-x: scroll;
    margin: 5% 0;
}

ul.horizontal_scroll img {
    width: 200px;
	height: 150px;
    object-fit: cover;
}

ul.horizontal_scroll li {
    background-image: url(img/1564792.png);
    background-size: cover;
    background-color: rgba(255,255,255,.9);
    background-blend-mode: lighten;
    padding: 3%;
    margin: 1%;
    border: 5px solid #8a7d58;
}

p.contents_text.animation-target {
    text-align: center;
}

p.contents_text.animation-target {
    text-align: center;
}

h5.text.animation-target {
    text-align: center;
    font-size: 24px;
    margin: 3%;
}

.menu {
    background-image: url(img/1564792.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,.9);
    background-blend-mode: lighten;
	margin-bottom: 10%;
}

.menus {
    display: flex;
    justify-content: space-around;
	margin: 3%;
    text-align: center
}

p.scroll_text {
    font-size: 12px;
}

.text_wrap {
	position: relative;
}

p.text_back {
    position: absolute;
    font-family: 'Tangerine';
    font-size: 67px;
    top: 0%;
    left: 22%;
    color: rgba(135,125,88, .3);
}

p.text_back.text_back1 {
    left: 26%;
}

p.text_back.text_back2 {
    left: 8%;
}

p.btn {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    background-color: #8a7d58;
    padding: 3% 10%;
    width: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
    margin: 3% auto;
    background-image: url(img/2103641.png);
    background-position: bottom;
    background-blend-mode: luminosity;
    position: relative;
}

p.information_text {
    padding: 3%;
}

.access_text {
    padding: 3%;
    background-image: url(img/1564792.png);
    background-size: cover;
    background-color: rgba(255,255,255,.9);
    background-blend-mode: lighten;
}

p.access_title {
    font-size: 20px;
    font-weight: bold;
}

.map {
	text-align: center;
}

iframe {
	width: 300px;
    margin: 5% 3%;
}

footer {
    background-color: #8a7d58;
    text-align: center;
    padding: 5% 0;
    color: #fff;
}

.animation-target {
    opacity: 0;
    transform: translateY(50px);
}

@keyframes flow {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-target.active {
    animation: flow 1s .2s forwards;
}


h2.animation-target.active {
    animation: slide 2s forwards;
}

@keyframes show-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

text-animation , .text-animation span {
    opacity: 0;
}

.animation.active.text-animation {
    animation: show-text .5s;
}

.animation.active.text-animation span {
    animation: show-text 1s backwards;
    opacity: 1;
}

@media (min-width: 769px) {

    h2 {
        font-size: 120px;
    }

    h5 {
        font-size: 20px;
    }

    p.scroll_text {
        font-size: 18px;
    }

    .access p {
        font-size: 30px;
    }

    h5.text.animation-target , p.access_title {
        font-size: 36px;
    }

    p.text_back {
        font-size: 100px;
        top: 15%;
        left: 15%;
    }

    p.contents_text.animation-target.active , .menu_title , .menu_price {
        font-size: 30px;
    }

    p.information_text.animation.text-animation.active , footer p {
        font-size: 30px;
    }

    ul.horizontal_scroll {
        display: flex;
        flex-wrap: wrap;
        overflow-x: unset;
        justify-content: center;
    }

    ul.horizontal_scroll li {
        width: calc(100%/2.5);
    }

    ul.horizontal_scroll img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 600px;
        height: 400px;
    }
}