* , *::before , *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	width: 100%;
}

img.logo {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.bg-slider {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

h2 {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    margin: 3%;
}

ul.horizontal_scroll {
    display: flex;
    overflow-x: scroll;
}

ul.horizontal_scroll img {
    width: 200px;
	height: 150px;
    object-fit: cover;
}

ul.horizontal_scroll li {
    padding: 5%;
}

p.contents_text.animation-target {
    text-align: center;
}

p.contents_text.animation-target {
    text-align: center;
}

h5.text.animation-target {
    text-align: center;
    font-size: 24px;
    margin: 3%;
}

.menu {
    background-image: url(img/1564792.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,.9);
    background-blend-mode: lighten;
}

.menus {
    display: flex;
    justify-content: space-around;
	margin: 3%;
    text-align: center
}

p.scroll_text {
    font-size: 12px;
}

.text_wrap {
	position: relative;
}

p.text_back {
    position: absolute;
    font-family: 'Tangerine';
    font-size: 67px;
    top: -40%;
    left: 22%;
    color: rgba(135,125,88, .3);
}

p.btn {
    color: #fff;
    background-color: #8a7d58;
    padding: 3% 10%;
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
    margin: 3% auto;
}

.map {
	text-align: center;
}

iframe {
	width: 300px;
}